p{padding:5px 0 0 0;font-size: 14px;line-height: 180%;color: #666;margin: 0;}
.onlinpadd{margin: 0px 40px;}
.onlinpadd h2{padding:60px 0px 15px 0px;font-size: 24px;border-bottom: 1px solid #ccc;margin:0;}
.onlinpadd h1{padding:60px 0px 15px 0px;font-size: 32px;margin:0;}
.onlinpadd pre.prettyprint span{line-height: 12px;font-family: 'Lucida Grande', Tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', Verdana, Arial, Sans-serif;}
.onlinpadd pre.prettyprint{padding:10px;margin:10px 0 0 0;border-radius: 5px;border:1px solid #ddd;}
