/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
    font:12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


nav.navbar-inverse{
  background-color: #339dd9;
}
.navbar-inverse .navbar-nav>li>a{
  color: #e8e8e8;
  font-size: 16px;
}
.container-fluid>div.navbar-header{
  margin-left: 50px;
}
.navbar-nav{
  margin-right: 50px;
}


/*index.html*/
.jumbotron {
    text-align: center;
    background-color: #339dd9;
    color: #fff;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron .btn-getting-started {
    color: #efbfbf;
    border: none;
    box-shadow: inset 0 0 0 2px #efbfbf;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 26px;
}
.jumbotron .btn-getting-started:hover, .jumbotron .btn-getting-started:active {
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    background-color: transparent;
}
.benefits p {
    font-size: 18px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.footer .container .text-muted {
  margin: 20px 0;
}